#The pricing for databases on Azure varies by a number of factors including region, size, cores, RAM, etc.
#You can review the pricing and decide which works best for you here:
#https://azure.microsoft.com/en-us/pricing/details/postgresql/
#https://azure.microsoft.com/en-us/pricing/details/mysql/
#https://azure.microsoft.com/en-us/pricing/details/mariadb/

#The sku-name parameter value follows the convention {pricing tier}_{compute generation}_{vCores} as in the examples below:
# --sku-name B_Gen5_2 maps to Basic, Gen 5, and 2 vCores.
# --sku-name GP_Gen5_32 maps to General Purpose, Gen 5, and 32 vCores.
# --sku-name MO_Gen5_2 maps to Memory Optimized, Gen 5, and 2 vCores.

#If you don't which to go with, B1_Gen5_1 is a good start for a production system that won't experience big load immediately
DBSKU=B_Gen5_1