## Essential use

AZX is a simple utility that reaches out to the web and pulls down 
scripted commands that you can use to generate scripts for Azure.

The simplest way to do this is by using the shell and redirecting
the output into a file:

azx postgres > azure_postgres.sh

You can then edit this script as you need and then run it in your 
shell directly:

source ./azure_postgres.sh 

You can access all of the commands using

azx list

If you have any questions please feel free to drop by the issues
list at https://github.com/robconery/azx/issues.

If you have some ideas or would like to include your own scripts
here, feel free to submit a PR!