---
title: Set Up Ghost on Azure
description: Create a super scalable Ghost blog on Azure using Web Apps for Containers and hosted MySQL
author: Rob Conery
group: Web
---
#!/bin/bash
###### CHANGE THESE AS NEEDED #######
RG="AZX"
APPNAME="AZXGHOST$RANDOM"
IMAGE=ghost

{% include locations.html %}

{% include skus.html %}

{% include skus_db.html %}
#####################################

{% include rg.html %}

{% include db_create.html server="mysql" %}

echo "Creating Ghost Database"
mysql --host=$DB_SERVERNAME.mysql.database.azure.com \
      --user=$DB_USER@$DB_SERVERNAME \
      --password=$DB_PASS \
      -e 'create database ghost;' mysql

{% include plan_linux.html %}

{% include webapp_container.html %}

echo "Adding app settings"
#add the settings for the new MYSQL bits
az webapp config appsettings set --name $APPNAME \
                                 --resource-group $RG \
                                 --settings \
                                 database__client=mysql \
                                 database__connection__database=ghost \
                                 database__connection__host=$DB_SERVERNAME.mysql.database.azure.com \
                                 database__connection__user=$DB_USER@$DB_SERVERNAME \
                                 database__connection__password=$DB_PASS \
                                 WEBSITES_PORT=2368 \
                                 WEBSITES_ENABLE_APP_SERVICE_STORAGE=true
{% include logging.html %}

echo "Opening site admin and viewing logs. This might 502 initially - just give it a minute to start."
echo "When it does start, head to https://$APPNAME.azurewebsites.net/ghost to set it up."
open https://$APPNAME.azurewebsites.net/
source .env
logs