---
title: MySQL
description: Creating an Azure Database for MySQL on Azure.
group: Database
author: Rob Conery
---
#!/bin/bash

###### CHANGE THESE AS NEEDED #######
RG="AZX"
{% include locations.html %}

{% include skus_db.html %}
#####################################
{% include rg.html %}

{% include db_create.html server="mysql" %}

echo "Setting ENV variables locally"
MYSQL_SERVER=$DB_SERVERNAME.mysql.database.azure.com
MYSQL_USER=$DB_USER
MYSQL_PASSWORD=$DB_PASS
MYSQL_PORT=3306

echo "MYSQL_SERVER=$MYSQL_SERVER\nMYSQL_USER=$DB_USER\nMYSQL_PASSWORD=$DB_PASS\nMYSQL_PORT=3306" >> .env
echo "MySQL ENV vars added to .env. You can printenv to see them, or cat .env."
echo "To create a database, use mysql -u $DB_USER@$DB_SERVERNAME -p $DB_PASS -h $DB_SERVERNAME.mysql.database.azure.com -p 3306 -D mysql -e 'create database $DATABASE;'"
echo "Adding connector shortcut to .env"
echo "alias db_connect=\"mysql -u $DB_USER@$DB_SERVERNAME -p $DB_PASS -h $DB_SERVERNAME.mysql.database.azure.com -p 3306 -D mysql\"" >> .env
echo "Make sure you have the mysql client installed before trying to connect."

