---
title: Web App | Multi Container
description: Create a Web App using Docker Compose, Allowing multiple containers.
author: Rob Conery
group: Web
---
#!/bin/bash

###### CHANGE THESE AS NEEDED #######
RG="AZX"
APPNAME="AZXMULTI$RANDOM"
{% include locations.html %}

{% include skus.html %}
#####################################

{% include rg.html %}

{% include plan_linux.html %}

#This is your Docker Compose YAML file. Edit as you need or, if you want
#Pop it into its own file. Up to you - just make sure the script below knows
#where to find the file.
#I'm using Wordpress here as a way to show a basic docker compose file, but
#feel free to use Ghost or whatever you want. This is how I set up my blog
#by the way...

cat << configyml > config.yml 
version: '3.3' 

services:
  wordpress:
      image: wordpress
      links:
      - mariadb:mysql
      environment:
      - WORDPRESS_DB_PASSWORD=<password>
      volumes:
      - ./code:/code
      - ./html:/var/www/html
  mariadb:
      image: mariadb
      environment:
      - MYSQL_ROOT_PASSWORD=<password>
      - MYSQL_DATABASE=wordpress
      volumes:
      - ./database:/var/lib/mysql

configyml

#Note the config file setting
echo "Creating Web app"
az webapp create --resource-group $RG \
                  --plan $APPNAME \
                  --name $APPNAME \
                  --multicontainer-config-type compose \
                  --multicontainer-config-file config.yml

{% include logging.html %}

echo "Opening site and viewing logs"
open https://$APPNAME.azurewebsites.net
source .env
logs