---
title: Web App | Multi Container
description: Create a Web App using Docker Compose, Allowing multiple containers.
author: Rob Conery
group: Web
---
#!/bin/bash

###### CHANGE THESE AS NEEDED #######
RG="AZX"
APPNAME="AZXMULTI$RANDOM"
{% include locations.html %}

{% include skus.html %}
#####################################

{% include rg.html %}

{% include plan_linux.html %}

#This is your Docker Compose YAML file. Edit as you need or, if you want
#Pop it into its own file. Up to you.
#I'm using Wordpress here as a way to show a basic docker compose file.
cat << configyml > config.yml 
version: '3.3' 

services:
   db:
     image: mysql:5.7
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: 23l4kjlk3lkj234432l2l3k4j3
       MYSQL_DATABASE: wordpress
       MYSQL_USER: wp
       MYSQL_PASSWORD: iij34jhj292kjksksk393923ks

   wordpress:
     depends_on:
       - db
     image: wordpress:latest
     ports:
       - "8000:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: wp
       WORDPRESS_DB_PASSWORD: iij34jhj292kjksksk393923ks
volumes:
    db_data:
configyml



echo "Creating Web app"
az webapp create --resource-group $RG \
                  --plan $APPNAME \
                  --name $APPNAME \
                  --multicontainer-config-type compose \
                  --multicontainer-config-file config.yml

{% include logging.html %}

echo "Opening site and viewing logs"
open https://$APPNAME.azurewebsites.net
source .env
logs