---
title: Web App | Git Deployment
description: Create a Web App and deploy using Git
author: Rob Conery
group: Web
---
#!/bin/bash

###### CHANGE THESE AS NEEDED #######
RG="AZX"
APPNAME="AZX$RANDOM"
{% include locations.html %}

{% include skus.html %}

{% include plan_linux.html %}
#####################################

{% include rg.html %}

{% include plan_linux.html %}

# Set these if you want however it's a bit safer to have them be random
DEPLOY_USER=$APPNAME_$RANDOM
DEPLOY_PASSWORD=$(uuidgen)

echo "Creating Web app"
az webapp create --resource-group $RG \
                  --plan $APPNAME \
                  --name $APPNAME

{% include logging.html %}

#setup deployment
az webapp deployment user set --user-name $DEPLOY_USER --password $DEPLOY_PASSWORD

echo "Setting deployment to local git, meaning you can push from your local repo"
az webapp deployment source config-local-git -g $RG -n $APPNAME

echo "Assigning git remote azure"  
git remote add azure https://$DEPLOY_USER@$APPNAME.scm.azurewebsites.net/$APPNAME.git

echo "DEPLOY_USER=$DEPLOY_USER" >>.env
echo "DEPLOY_PASSWORD=$DEPLOY_PASSWORD" >>.env
echo "DEPLOY_URL=https://$DEPLOY_USER@$APPNAME.scm.azurewebsites.net/$APPNAME.git" >>.env

#set an alias for convenience - add to .env
echo "alias logs='az webapp log tail -n $APPNAME -g $RG'" >> .env

echo "Opening site and viewing logs"
open https://$APPNAME.azurewebsites.net
source .env
logs