---
title: Web App | Containers
description: Create a Web App using a docker container.
author: Rob Conery
group: Web
---
#!/bin/bash

###### CHANGE THESE AS NEEDED #######
RG="AZX"
IMAGE="dockeralias/image:tag"
APPNAME="AZX$RANDOM"

{% include locations.html %}

{% include skus.html %}
#####################################

{% include rg.html %}

{% include plan_linux.html %}

{% include webapp_container.html %}
Add these lines if you have a private repo     
# az webapp config container set --resource-group $RG \
#                               --name $APPNAME \             
#                               --docker-registry-server-user "[YOUR DOCKERHUB USER NAME]" \
#                               --docker-registry-server-password "[YOUR DOCKER HUB PASSWORD]!" \
#                               Add this if not on Docker Hub                  
#                               --docker-registry-server-url ["ADD THIS TOO"]

az webapp config appsettings set --name $APPNAME \
                  --resource-group $RG \
                  --settings WEBSITES_ENABLE_APP_SERVICE_STORAGE=true


{% include logging.html %}

echo "Opening site and viewing logs"
open https://$APPNAME.azurewebsites.net
source .env
logs