---
title: Set Up Wordpress on Azure
permalink: /api/wordpress
description: Create a super scalable Wordpress site on Azure using Web Apps for Containers and hosted MySQL
group: Web
author: Rob Conery
---
#!/bin/bash

###### CHANGE THESE AS NEEDED #######
RG="AZX"
APPNAME="AZXWP$RANDOM"
IMAGE=wordpress
{% include locations.html %}

{% include skus.html %}

{% include skus_db.html %}
#####################################

{% include rg.html %}

{% include db_create.html server="mysql" %}

#You'll need the MySQL Client for this. If you don't have, you can execute this
#command in the cloud shell, which has the mysql client installed:
#https://shell.azure.com/

echo "Creating Wordpress Database"
mysql --host=$DB_SERVERNAME.mysql.database.azure.com \
      --user=$DB_USER@$DB_SERVERNAME --password=$DB_PASS \
      -e 'create database wordpress;' mysql

echo "Setting ENV variables locally"
MYSQL_SERVER=$DB_SERVERNAME.mysql.database.azure.com
MYSQL_USER=$DB_USER@$DB_SERVERNAME
MYSQL_PASSWORD=$DB_PASS
MYSQL_PORT=3306

echo "MYSQL_SERVER=$MYSQL_SERVER\nMYSQL_USER=$DB_USER\nMYSQL_PASSWORD=$DB_PASS\nMYSQL_PORT=3306" >> .env
echo "alias prod=\"mysql --host=$DB_SERVERNAME.mysql.database.azure.com --user=$DB_USER@$DB_SERVERNAME --password=$DB_PASS\" wordpress"
echo "MySQL ENV vars added to .env. You can printenv to see them, or cat .env."
echo "To access your MySQL Instance just run `prod` as an alias. You can rename this in .env."

{% include plan_linux.html %}

{% include webapp_container.html %}

echo "Adding app settings"
#add the settings for the new MYSQL bits
az webapp config appsettings set --name $APPNAME \
                                 --resource-group $RG \
                                 --settings WORDPRESS_DB_HOST=$MYSQL_SERVER \
                                 WORDPRESS_DB_USER=$MYSQL_USER \
                                 WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD \
                                 WEBSITES_PORT=80
{% include logging.html %}

echo "Opening site and viewing logs"
open https://$APPNAME.azurewebsites.net
source .env
logs
